.image-upload.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-upload button {
  /* Button component has margin-right of 1rem */
  margin: 0;
}

.image-upload__preview {
  width: 8em;
  height: 8rem;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 1em;
}

.image-upload__preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
